{{ set(this, 'title', "Forgot Password") }}

{{this.registerJs('AuthController.forgotPassword()')}}

<div class="auth">
    <div class="auth__content">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane login active forgot-password" id="signIn">
                <form id="forgotPasswordForm" name="forgotPasswordForm" class="login-form" action="{{_AppHelper.getForgotPasswordUrl()}}" method="post" autocomplete="off">
                    <div class="login__form-title">Forgot Password</div>
                    <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" /> 
                    {% if errors | length > 0 %}
                        <p class="form__error">
                        {% for errorArr in errors %}
                                {% for error in errorArr %}
                                    {{error}}<br/>
                                {% endfor %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <input type="text" class="form-control" name="email" value="{{ form.email }}" placeholder="{{_Network.getNetworkTitle()}} username or Email Address" autocomplete="off">
                    <div class="button-set">
                        <label class="button-set__left"></label>
                        <div class="button-set__left">
                            <a href="{{_AppHelper.getLoginUrl()}}" class="button-set__forgot"><span class="green">Login/Signup?</span></a>
                            <button type="submit" class="button-set__submit" name="submitLoginForm">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>