{{ set(this, 'title', 'User Profile') }}

{% set network = _Network.getNetworkData()%}
{{this.registerJs("$('.loginModal').loginModal({});")}}
<div class="user-posts">
    <div class="user-posts-header">
        {% if userDetails.media['id'] is defined and userDetails.media['id'] is not empty %}
            {% set profileImage =_Media.getMediaUrl(userDetails.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} )%}
            <div class="user-posts-header__image"{% if profileImage is not empty %}  style="background-image:url({{profileImage}});"{% endif %}></div>
        {% endif %}
        <div class="user-posts-header__content">
            <div class="user-posts-header__title">
                <h1 class="user-posts-header__text">{{Html.encode(userDetails.firstname)}} {{Html.encode(userDetails.lastname)}}</h1>

                {% if _User.isGuest() and not _Network.isNetworkClosed(network) %}
                    <span class="user-posts-header__follow button button__profile-follow loginModal">Follow</span>
                {% endif %}
                {% if not _User.isGuest() and _User.getId() != userDetails.id and not _Network.isNetworkClosed(network) %}
                    {% set isUserFollowing = _User.isUserFollowing('user', userDetails.id)  %}
                    <span class="user-posts-header__follow button button__profile-follow FollowProfileUser"  data-guid="{{userDetails.guid}}" data-status="{% if isUserFollowing == 'TRUE' %}unfollow{% else %} follow {% endif %}">{% if isUserFollowing == 'TRUE' %} Unfollow {% else %} Follow {% endif %}</span>
                {% endif %}
            </div>
            <div class="user-posts-header__desciption">{{Html.decode(userDetails.bio) | raw }}</div>
            <!--<div class="user-posts-header__social-links">
                    <div class="social-links">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                    </div>
            </div>-->
        </div>
    </div>
    <div class="user-posts-content">
        {% if myArticles is defined and myArticles | length > 0 %}
            <div class="user-posts-content__title">{{Html.encode(userDetails.firstname)}}'s articles:
                <a href="{{_AppHelper.buildUrl('profile/user-posts',{name: Html.encode(userDetails.username)})}}" class="button">View All Articles</a>
            </div>
            <div class="user-posts-content__post-section card-container">
                <div class="card-container">
                    {{this.render('partials/user-profile/_recent_articles.twig', {myArticles : myArticles}) | raw }}
                </div>
            </div>
        {% endif %}
        {% if userOwnerBlogs is defined and userOwnerBlogs | length > 0 %}
            <div class="user-posts-content__title">Contributes To:</div>
            <div class="user-posts-content__post-section">
                {{this.render('partials/user-profile/_user_blogs.twig', {userOwnerBlogs : userOwnerBlogs, network: network}) | raw }}
            </div>
        {% endif %}
        
        {% if myBlogs is defined and myBlogs | length > 0 %}
            <div class="user-posts-content__title">Following:</div>
            <div class="user-posts-content__post-section">
                <div class="channel-thumb__container channels">
                    {{this.render('partials/user-profile/_user_following_blog.twig', {myBlogs : myBlogs, network: network}) | raw }}                    
                </div>
            </div>
        {% endif %}

        {% if myFollowings is defined and myFollowings | length > 0 %}
            <div class="user-posts-content__title">Following Users:</div>
            <div class="user-posts-content__post-section">
                <div class="card-container">
                    {{this.render('partials/user-profile/_user_following_writer.twig', {myFollowings : myFollowings, network: network}) | raw }}
                </div>
            </div>
        {% endif %}

    </div>
</div>

