{% set user = '' %}
{% if not _User.isGuest()%}
    {% set user = _User.getUser()%}
{% endif %}
<div class="account-modal__container">
    <div class="account-modal">
        <div class="account-modal__navigation">
            <div class="account-modal__navigation_info">
                {% set logoUrl = network.networkLogoLinkUrl %}
                {% if network.logoMedia | length > 0 %}
                    {% set logo = _Media.getMediaUrl(network.logoMedia, 177, 65, {'crop': 'limit'} )%}
                    <a class="account-modal__navigation_logo" href="{{logoUrl}}"><img src="{{logo}}"/></a>
                {% endif %}                
                <div class="account-modal__navigation_text">
                    {{network.title}}
                </div>
            </div>
            <div class="account-modal__navigation_list">
                {% if not _User.isGuest()%}
                    <div class="account-modal__navigation_item account-modal__navigation_item--following active">Following</div>
                    <div class="account-modal__navigation_item account-modal__navigation_item--profile">
                        Profile
                        {# Profile progress bar needs to be configured for cognitives platform #}
                        <div class="account-modal__progress">
                            <div class="account-modal__progress_label">{{_User.getProfileCompletionPercentage()}}% Complete</div>
                            <div class="account-modal__progress_bar">
                                <div class="account-modal__progress_fill" style="width:{{_User.getProfileCompletionPercentage()}}%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="account-modal__navigation_item account-modal__navigation_item--account">My Account</div>
                    <a href="{{_AppHelper.getLogoffUrl()}}" class="account-modal__navigation_item">Logout</a>
                {% else %}
                    <div class="account-modal__navigation_item account-modal__navigation_item--login active">Login</div>
                    <div class="account-modal__navigation_item account-modal__navigation_item--signup">Sign Up</div>
                {% endif %}
            </div>
        </div>
        <div class="account-modal__content">
            <img class="account-modal__content_cross" src="{{network.templatePath}}/static/images/icons/account-modal-cross.svg" alt="Account modal exit cross" />
            {% if not _User.isGuest()%}
                {% set networkUsers = _User.getNetworkUsers()%}
                {% set networkBlogs = _Blog.getBlogList()%}
                {% set followingBlogs = _User.getBlogsFollowedByUser(user.guid) %}
                {% set followingUsers = _User.getUserFollowings(user.guid) %}
                {# Following Content #}
                <form id="followForm" class="account-modal__content_section account-modal__content_section--following active">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <div class="account-modal__content_title account-modal__content_title--no-margin">Topics</div>
                    <p>Choose the sections or blogs to follow here. This content will appear in the <a href="{{_AppHelper.buildUrl('user/my-news')}}">My News</a> section.</p>
                    <div class="account-modal__select account-modal__select--multiple">
                        <div class="account-modal__select_content">
                            <div class="account-modal__select_label">Select Sections:</div>
                            <img class="account-modal__select_arrow" src="{{network.templatePath}}/static/images/icons/account-modal-select-arrow.svg" alt="Select dropdown arrow">
                            <div class="account-modal__select_selected-item-container blog-follow">
                                {% set blogsFollowing = [] %}
                                {% for myblog in followingBlogs %}
                                    {% set blogsFollowing = blogsFollowing|merge([myblog.blog['guid']]) %}
                                    <div class="account-modal__select_selected-item-multi selectedItem" data-id="{{myblog.blog['guid']}}" data-title="{{myblog.blog['title']}}">{{myblog.blog['title']}}</div>
                                {% endfor %}
                            </div>
                            {% for following in blogsFollowing %}
                                <input type="hidden" value="{{ following }}" name="blogArr[]" class="blog-following">
                            {% endfor %}
                            <div class="account-modal__select_list">
                                {% for blog in networkBlogs %}
                                    <div class="account-modal__select_list-item" data-id="{{blog.guid}}" data-type="blog">{{blog.title}}</div>
                                {% endfor %}								
                            </div>
                        </div>
                        <div class="account-modal__select_requirement">
                            Optional
                            <img src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                        </div>
                    </div>
                    <div class="account-modal__content_title account-modal__content_title--no-margin">Users</div>
                    <p>
                        Follow users and authors and any time they publish that content will appear in your feed.
                    </p>
                    <div class="account-modal__select account-modal__select--multiple account-modal__select--no-margin">
                        <div class="account-modal__select_content">
                            <div class="account-modal__select_label">Select Users:</div>
                            <img class="account-modal__select_arrow" src="{{network.templatePath}}/static/images/icons/account-modal-select-arrow.svg" alt="Select dropdown arrow">
                            <div class="account-modal__select_selected-item-container user-follow">
                                {% set followUsers = [] %}
                                {% for follow in followingUsers %}
                                    {% set followUsers = followUsers|merge([follow.following['guid']]) %}
                                    <div class="account-modal__select_selected-item-multi selectedItem " data-id="{{follow.following['guid']}}" data-title="{{follow.following['name'] }}">{{follow.following['name'] }}</div>
                                {% endfor %}
                            </div>
                            {% for following in followUsers %}
                                <input type="hidden" value="{{ following }}" name="userArr[]" class="user-following">
                            {% endfor %}
                            <div class="account-modal__select_list">
                                {% for networkUser in networkUsers %}
                                    {% if networkUser.id != user.id %}
                                        <div class="account-modal__select_list-item" data-id="{{networkUser.guid}}" data-type="user">{{networkUser.name}}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="account-modal__select_requirement">
                            Optional
                            <img src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                        </div>
                    </div>
                    <div class="account-modal__success followingSuccess">
                        <div class="account-modal__success_text"></div>
                    </div>
                    <div class="account-modal__error followingError">
                        <div class="account-modal__error_text"></div>
                    </div>
                    <button class="account-modal__buttons_following account-button account-button--save">Save</button>
                </form>
                {# Profile Content #}
                <form id="profileForm" class="account-modal__content_section account-modal__content_section--profile">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="hidden" name="user_guid" value="{{user.guid}}">
                    <input type="hidden" name="network_id" value="{{network.id}}">
                    <div class="account-modal__content_title">Details</div>
                    <div class="account-modal__content_container">
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container account-modal__input-container--required">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">First Name</div>
                                    <input class="account-modal__input account-modal__input--text" type="text" name="firstname" value="{{user.firstname}}">
                                </div>
                                <div class="account-modal__input_requirement"></div>
                            </div>
                            <div class="account-modal__input-container account-modal__input-container--required">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Last Name</div>
                                    <input class="account-modal__input account-modal__input--text" type="text" name="lastname" value="{{user.lastname}}">
                                </div>
                                <div class="account-modal__input_requirement"></div>
                            </div>
                        </div>
                        <div class="account-modal__image">
                            <div class="account-modal__image_label">Image</div>
                            <div class="account-modal__image_content">
                                <div class="account-modal__image_upload-container">                                    
                                    <div id="account-modal__image_upload--profile" class="account-modal__image_upload uploadedUser" {% if user.profileMedia is defined %} style="background-image:url('{{ _Media.getMediaUrl(user.profileMedia, 60, 60, {radius: 'max', gravity: 'face', 'crop': 'thumb', 'type' :'user'}) }}');" {% endif %}></div>
                                </div>
                                <div class="account-modal__image_button-container">
                                    <div class="account-modal__image_button account-button account-button--sm account-button--image uploadFileBtn" data-imgcls="uploadedUser" data-id="userProfileImage">Browse...</div>
                                    <!--<input id="account-modal__image_input--profile" class="account-modal__image_input" type="file" name="pic" accept="image/*"> -->
                                    <input type="hidden" name="profileImage" id="userProfileImage" value="" />
                                    <div class="account-modal__image_caption">
                                        <span class="account-modal__image_caption--standard">2mb max PNG/JPG</span>
                                        <span class="account-modal__image_caption--success">1 file selected</span>
                                        <span class="account-modal__image_caption--error">Upload failed</span>
                                        <img class="account-modal__image_caption--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                        <img class="account-modal__image_caption--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-modal__input-container account-modal__input-container--textarea account-modal__input-container--required">
                        <div class="account-modal__input_content">
                            <div class="account-modal__input_label">Bio</div>
                            <textarea class="account-modal__input account-modal__input--text" name="bio">{{user.bio}}</textarea>
                        </div>
                        <div class="account-modal__input_requirement"></div>
                    </div>
					<div class="account-modal__content_item-container">
						{% set newsletter = 'never'%}
						{% if user.userSettings['isNewsletterEnable'] %} 
							{% set newsletter = user.userSettings['newsletterFrequency'] %}
						{% endif %}
						<input type="hidden" name="newsletterFrequency" id="newsletterFrequency" value="{{user.userSettings['isNewsletterEnable']}}">
						<div class="account-modal__select account-modal__select--more-margin">
							<div class="account-modal__select_content">
								<div class="account-modal__select_label">Newsletter</div>
								<img class="account-modal__select_arrow" src="{{network.templatePath}}/static/images/icons/account-modal-select-arrow.svg" alt="Select dropdown arrow">
								<div class="account-modal__select_selected-item-container">{{newsletter|capitalize}}</div>
								<div class="account-modal__select_list">
									<div class="account-modal__select_list-item" data-id="1">Never</div>
									<div class="account-modal__select_list-item" data-id="daily">Daily</div>
									<div class="account-modal__select_list-item" data-id="weekly">Weekly</div>
									<div class="account-modal__select_list-item" data-id="monthly">Monthly</div>
								</div>
							</div>
						</div>
					</div>
                    <div class="account-modal__error">
                        <div class="account-modal__error_text">Error</div>
                    </div>
                    <button class="account-modal__buttons_profile account-button account-button--save">Save</button>
                </form>
                {# Account Content #}
                <form id="accountForm" class="account-modal__content_section account-modal__content_section--account">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="hidden" name="user_guid" value="{{user.guid}}">
                    <input type="hidden" name="network_id" value="{{network.id}}">
                    <div class="account-modal__content_container account-modal__content_container--no-margin">
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Username</div>
                                    <input class="account-modal__input account-modal__input--username" type="text" name="username" value="{{ user.username }}">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--error">Required</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Email Adress</div>
                                    <input class="account-modal__input account-modal__input--email" type="email" name="email" value="{{ user.email }}" disabled>
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--error">Invalid email address</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-modal__content_title account-modal__content_title--no-margin">Change Password</div>
                    <div class="account-modal__content_container account-modal__content_container--medium-margin-bottom">
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container account-modal__input-container--no-margin">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">New Password</div>
                                    <input class="account-modal__input account-modal__input--password" type="password" name="password">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--error">Incorrect Length</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container account-modal__input-container--no-margin">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Verify New Password</div>
                                    <input class="account-modal__input account-modal__input--verify-password" type="password" name="verifypassword">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--error">Password not the same.</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-modal__error">
                        <div class="account-modal__error_text">Not all fields entered correctly.</div>
                    </div>
                    <button class="account-modal__buttons_account account-button account-button--save">Save</button>
                </form>
            {% else %}
                {# Login Content #}
                <form name="loginForm" id="loginForm" class="account-modal__content_section account-modal__content_section--login active" action="javascript:void(0);" method="post" accept-charset="UTF-8">

                    <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />

                    <div class="account-modal__content_title">Login</div>
                    <ul class="account-modal__content_social">
                        <li class="facebook"><a href="{{_AppHelper.getSocialFacebookUrl(1)}}"><i class="fa fa-facebook"></i> Login with Facebook</a></li>
                        <li class="twitter"><a href="{{_AppHelper.getSocialTwitterUrl(1)}}"><i class="fa fa-twitter"></i> Login with Twitter</a></li>
                    </ul>
                    <div class="account-modal__input-container">
                        <div class="account-modal__input_content">
                            <div class="account-modal__input_label">Email/Username</div>
                            <input id="loginName" class="account-modal__input" type="text" name="username" value="">
                        </div>
                        <div class="account-modal__input_requirement">
                            <span class="account-modal__input_requirement--error">Required</span>
                            <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                            <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                        </div>
                    </div>
                    <div class="account-modal__input-container">
                        <div class="account-modal__input_content">
                            <div class="account-modal__input_label">Password</div>
                            <input class="account-modal__input" type="password" name="password">
                        </div>
                        <div class="account-modal__input_requirement">
                            <span class="account-modal__input_requirement--error">Required</span>
                            <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                            <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                        </div>
                    </div>
                    <div class="account-modal__content_container--medium-margin-bottom">
                        <div class="account-modal__checkbox_container">
                            <input type="checkbox" class="account-modal__checkbox" name="rememberMe">
                            <div class="account-modal__checkbox_label">Keep me logged in.</div>
                        </div>
                    </div>
                    <div class="account-modal__error active hide">
                        <div class="account-modal__error_text">Invalid Username or Password</div>
                    </div>
                    <button class="account-modal__buttons_login account-button accountLogin">Login</button>
                    <div class="account-modal__forgotten-password-link">Forgotten Password</div>
                </form>
                {# Signup Content #}
                <form  name="signupForm" id="signupForm"  class="account-modal__content_section account-modal__content_section--signup">
                    <div class="account-modal__content_title">Signup</div>
                    <ul class="account-modal__content_social">
                        <li class="facebook"><a href="{{_AppHelper.getSocialFacebookUrl(1)}}"><i class="fa fa-facebook"></i> Login with Facebook</a></li>
                        <li class="twitter"><a href="{{_AppHelper.getSocialTwitterUrl(1)}}"><i class="fa fa-twitter"></i> Login with Twitter</a></li>
                    </ul>
                    <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                    <div class="account-modal__content_container">
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Firstname</div>
                                    <input class="account-modal__input account-modal__input--text" type="text" name="firstname">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--standard">Required</span>
                                    <span class="account-modal__input_requirement--error">Required</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Lastname</div>
                                    <input class="account-modal__input account-modal__input--text" type="text" name="lastname">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--standard">Required</span>
                                    <span class="account-modal__input_requirement--error">Required</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-modal__content_container">
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Username</div>
                                    <input class="account-modal__input account-modal__input--username" type="text" name="username">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--standard">Required</span>
                                    <span class="account-modal__input_requirement--active">4-32 Characters</span>
                                    <span class="account-modal__input_requirement--error">Incorrect Length</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Email</div>
                                    <input class="account-modal__input account-modal__input--email" type="email" name="email">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--standard">Required</span>
                                    <span class="account-modal__input_requirement--active">Valid email address</span>
                                    <span class="account-modal__input_requirement--error">Invalid email address</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-modal__content_container">
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Password</div>
                                    <input class="account-modal__input account-modal__input--password" type="password" name="password">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--standard">Required</span>
                                    <span class="account-modal__input_requirement--active">6-32 Characters</span>
                                    <span class="account-modal__input_requirement--error">Incorrect Length</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content">
                                    <div class="account-modal__input_label">Verify Password</div>
                                    <input class="account-modal__input account-modal__input--verifypassword" type="password" name="verifypassword">
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--standard">Required</span>
                                    <span class="account-modal__input_requirement--active">Verify Password</span>
                                    <span class="account-modal__input_requirement--error">Passwords dont match</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="account-modal__content_container">
                        <div class="account-modal__content_item-container">
                            <div class="account-modal__input-container">
                                <div class="account-modal__input_content captcha">
                                    {{_AppForm.captcha({class: 'account-modal__input account-modal__input--captcha', placeholder: 'Enter the text shown above'}) | raw }}
                                </div>
                                <div class="account-modal__input_requirement">
                                    <span class="account-modal__input_requirement--standard">Required</span>
                                    <span class="account-modal__input_requirement--error">Required</span>
                                    <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                    <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="account-modal__error">
                        <div class="account-modal__error_text">Not all inputs entered correctly.</div>
                    </div>
                    <button class="account-modal__buttons_signup account-button">Signup</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
</div>
<div class="forgotten-password-modal__container">
    <div class="forgotten-password-modal">
        <img class="forgotten-password-modal__cross" src="{{network.templatePath}}/static/images/icons/account-modal-cross.svg" alt="Account modal exit cross" />
        <div class="forgotten-password-modal__content forgotten-password-modal__content--forgotten">
            <div class="account-modal__content_title">Forgotten Password</div>
            <div class="account-modal__content_container">
                <div class="account-modal__input-container">
                    <div class="account-modal__input_content">
                        <div class="account-modal__input_label">Email Adress</div>
                        <input class="account-modal__input account-modal__input--email" type="email" name="email">
                    </div>
                    <div class="account-modal__input_requirement">
                        <span class="account-modal__input_requirement--error">Invalid email address</span>
                        <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                        <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                    </div>
                </div>
            </div>
            <div class="forgotten-password-modal__submit account-button">Submit</div>
        </div>
        <div class="forgotten-password-modal__content forgotten-password-modal__content--email-sent">
            <div class="account-modal__content_title account-modal__content_title--green account-modal__content_title--no-margin">Email Sent. Please check your inbox.</div>
        </div>
        <div class="forgotten-password-modal__content forgotten-password-modal__content--change-password">
            <form name="resetPasswordForm" id="resetPasswordForm" class="login-form" action="" method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                <input type="hidden" id="reset-token" name="token" value="" />
                <div class="account-modal__content_title">Reset Password</div>
                <div class="account-modal__content_container account-modal__content_container--medium-margin-bottom">
                    <div class="account-modal__content_item-container">
                        <div class="account-modal__input-container account-modal__input-container--no-margin">
                            <div class="account-modal__input_content">
                                <div class="account-modal__input_label">New Password</div>
                                <input class="account-modal__input" type="password" name="password">
                            </div>
                            <div class="account-modal__input_requirement">
                                <span class="account-modal__input_requirement--error">Required</span>
                                <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                            </div>
                        </div>
                    </div>
                    {# This is to be triggered when the user clicks on the link sent in the email for the forgotten password. #}
                    <div class="account-modal__content_item-container">
                        <div class="account-modal__input-container account-modal__input-container--no-margin">
                            <div class="account-modal__input_content">
                                <div class="account-modal__input_label">Verify New Password</div>
                                <input class="account-modal__input" type="password" name="verifypassword">
                            </div>
                            <div class="account-modal__input_requirement">
                                <span class="account-modal__input_requirement--active">Same as new password</span>
                                <span class="account-modal__input_requirement--error">Required</span>
                                <img class="account-modal__input_requirement--tick" src="{{network.templatePath}}/static/images/icons/account-modal-select-tick.svg" alt="Select required tick">
                                <img class="account-modal__input_requirement--cross" src="{{network.templatePath}}/static/images/icons/account-modal-select-cross.svg" alt="Select required tick">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reset-password-modal__submit account-button">Submit</div>
            </form>
        </div>
    </div>
</div>

